 <div class="container">

     <f:render partial="Header/Main" arguments="{_all}" />


        <div class="nav-scroller pb-3 mb-2">
            <!-- Partial for MainNav -->
            <f:render partial="Navi/Main" arguments="{_all}" />
        </div>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
            <div class="col-md-6 px-0">
                <h1>{data.title}</h1>
            </div>
        </div>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 blog-main">
                <f:render section="Main" />
            </div>
        </div>
    </main>



