<f:layout name="Landingpage" />

<f:section name="Stage">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
</f:section>

<f:section name="Main">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
</f:section>

<f:section name="Left">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
</f:section>

<f:section name="Right">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
</f:section>


