<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<ul class="list-group {f:if(condition: '{data.layout} == 4', then: 'list-group-flush')}" >
    <f:for each="{bullets}" as="bullet">
        <li class="list-group-item">{bullet}</li>
    </f:for>
</ul>

</html>
