<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vh="head\Site\ViewHelpers"
      data-namespace-typo3-fluid="true">

        <f:if condition="{subheader}">
            <p>{subheader}</p>
        </f:if>
        <f:if condition="{bodytext}">
            {bodytext -> f:format.html() -> f:format.crop(maxCharacters: 150)}
        </f:if>

        <div style="color:#999">
            <p>{CType}<br>
                ______________________<br>
                <small>Items:</small>
            </p>

            <div style="background-color: #fafafa; padding: 1rem; border: 1px solid #ccc;">
                <ol>
                    <f:for each="{vh:elements(tt_content:uid,ref_table:'tx_site_accordion_item')}" as="element">
                        <li>{element.header}</li>
                    </f:for>
                </ol>
            </div>
        </div>

</html>
