<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{records}">
        <div class="accordion my-4" id="myAccordion">

            <f:for each="{records}" as="record" iteration="iteration">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{iteration.index}" aria-expanded="true" aria-controls="collapse{iteration.index}">
                                {record.data.header}<br><small>{record.data.teaser}</small>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{iteration.index}" class="collapse" aria-labelledby="heading{iteration.index}" data-parent="#accordion{iteration.index}">
                        <div class="card-body">
                            {record.data.bodytext ->f:format.html()}
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>
</html>