<html xmlns:fc="http://typo3.org/ns/SMS/FluidComponents/ViewHelpers"
      xmlns:sc="Sota\Components\Components"
      xmlns:f="http://www.w3.org/1999/XSL/Transform">

<fc:component>
    <fc:param name="title" type="string" />
    <fc:param name="link" type="SMS\FluidComponents\Domain\Model\Typolink" />
    <fc:param name="image" type="SMS\FluidComponents\Domain\Model\Image" optional="1" />
    <fc:param name="actions" type="string" optional="1" />
    <fc:param name="theme" type="string" optional="1" default="light" />

    <fc:renderer>
        <a href="{link}" target="{link.target}" class="{component.class} {component.class}--{theme}">
            <f:if condition="{image}">
                <sc:atom.image image="{image}" class="{component.prefix}image" />
            </f:if>

            <div class="{component.prefix}content">
                <h3 class="{component.prefix}title">{title}</h3>
                <f:if condition="{content}">
                    <p>{content}</p>
                </f:if>
                {actions -> f:format.raw()}
            </div>
        </a>
    </fc:renderer>
</fc:component>

</html>